# Ignore virtual environment
venv/
/mlruns/
# Ignore data2 folder
data2/

# Ignore all .log files anywhere in the project
*.log

# Ignore specific file
note.txt

# Ignore tmp file or folder
tmp
/minio_data/
/postgres_data/
/src/mlruns/
/src/mlartifacts/
/src/tuner_logs
