dvc[s3] # Or dvc[gdrive], dvc[gs] based on your remote choice (e.g., for MinIO, use dvc[s3] and boto3)
great_expectations
polars
pandas
scikit-learn
nltk
spacy
mlflow
keras-tuner
tensorflow
contractions
matplotlib
boto3