mlflow==2.22.1
cloudpickle==3.1.1
google-cloud-aiplatform==1.79.0
google-cloud-automl==1.0.1
google-cloud-bigquery-connection==1.17.0
google-cloud-bigtable==2.28.1
google-cloud-datastore==2.20.2
google-cloud-firestore==2.20.0
google-cloud-functions==1.19.0
google-cloud-iam==2.18.0
google-cloud-language==2.16.0
google-cloud-pubsub==2.25.0
google-cloud-spanner==3.51.0
google-cloud-translate==3.12.1
google-cloud-videointelligence==2.16.1
google-cloud-vision==3.10.1
google-colab==1.0.0
google-genai==0.8.0
google-generativeai==0.8.4
google-spark-connect==0.5.2
numpy==1.26.4
tensorflow==2.19.0